
img {
    width: 40px;
    cursor: pointer;
    margin:auto;
}
.fa-times-circle {
    color:var(--ghost);      
}
.not-active {
    display: none;
}
.active {
    position: absolute;
    display: flex;
    color: black;/*var(--ghost);   */
    background: white;/*var(--dianne);*/
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-transition: fill 4s; 
    transition: fill 4s; 
    font-weight: bold;
    text-align: center;
    z-index: 10;
}
aside {
    color:black;
    display: grid;
    grid-template-columns: auto 40px;
    padding:20px;
}
nav a {
    text-decoration: none;

}
nav ul {
    list-style: none;
    width:100%;
    margin:0;
    padding:25px;
}
nav ul li {
    padding: 0 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.navigation {
    position: relative;
    margin:0;
    padding:0;
    font-size: 1.5em;
}
.navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    margin: 1em 3em;
    color: black;
    text-align: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

    @media (min-width: 1281px) {



    }

    /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {



    }

    /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {



    }

    /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



    }

    /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */

    @media (min-width: 481px) and (max-width: 767px) {



    }

    /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    */

    @media (min-width: 320px) and (max-width: 480px) {



    }
