
:root {
	--primary-color: #5c6274;
	--twitch: #6441a5;
	--twitter: #38A1F3;
	--github: #000;
}

#twitch :hover {
	color: var(--twitch);
}

#twitter :hover {
	color: var(--twitter);
}

#github :hover {
	color: var(--github);
}

#globe :hover {
	color: rgb(175, 130, 130);
}

/** Common CSS **/
.center {
	text-align: center;
}

.large-text {
	font-size: 2.5em;
	line-height: 1.5em;
}
.m-0 {
	margin:0;
}
.pt-1 {
	padding-top: 1em;
}
.pb-1 {
	padding-bottom: 1em;
}

.flex {
	display: flex;
}

/* About Section CSS */
.about-container {
	width:100%;
	padding:40px 0px;
	line-height:2em;
}

.about-container p {
  white-space: pre-wrap;
}



.about-header {

}

/* Projects Section CSS */

/* Photography Page CSS */


.image-grid {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-rows: minmax(50px, auto);

}

.image-item {
      position: relative;
      align-self: end;
}
.image-item h3 {
       position: absolute;
       bottom: 0;
       right: 0;
       background: black;
       color: white;
       margin-bottom: 5px;
       font-family: sans-serif;
       opacity: 0;
       visibility: hidden;
       -webkit-transition: visibility 0s,
       opacity 0.5s linear;
       transition: visibility 0s,
       opacity 0.5s linear;
}



.image-grid img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;

}

.image-item:hover  {
     cursor: pointer;
}

.image-item:hover h3 {
      width: 100%;
      padding: 8px 15px;
      visibility: visible;
      opacity: 0.7;
      align-items: center;
      display: flex;
      justify-content: center;
      margin: auto;
}


.specific-image-grid {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-rows: minmax(50px, auto);
}
.specific-image-grid img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;

}

.specific-image-item:hover {
      cursor: pointer;
}
@media only screen and (min-width: 600px) {


	.specific-image-grid .specific-image-item:nth-child(5n) {
			grid-column-end: span 2;
	}

	.specific-image-grid .specific-image-item:nth-child(5n) img {
			width:100% !important;
	}
}


.photo-gallery {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(50px, auto);
}
.photo-item {
      cursor: pointer;
      margin:auto;
}

