
.home h2 {
    font-size: 4em;
    margin:0;
    text-transform: uppercase;
    line-height: 1em;
}
.home p {
    white-space: pre-wrap;
}
.cta {
    display: block;
    color: black;
    background: white;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
    cursor: pointer;
}