
.home h2 {
    padding-top:10vh;
    font-size: 24px;
    margin:0;
    line-height: 1em;
    font-style: bold;
}
.home p {
    white-space: pre-wrap;
    font-size: 24px;
    font-style: bold;
    
}
.background {
    width: 100vw;
    height: 458px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 40px;
    left: -20px;
}
.background .scrollButton {
    width: 32px;
    height: 79px;
    border-radius: 100px;
    margin-top: 30px;
    position: absolute;
}
.background span {
    width: 15px;
    height: 15px;
    background: transparent;
    position: absolute;
    margin-top: 50px;
    border-radius: 100%;
    border: 1px solid black;
}

.cta {
    display: block;
    color: black;
    background: white;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
    cursor: pointer;
}