@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root {
  --ghost: #C2C8D4;
  --dianne: #1D4455;
}
body, html {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #C0C0C0;/**var(--ghost);**/
  color: black; /*var(--dianne);*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style-type: none;
}
a {
  cursor: pointer;
}
.fa {
  font-size: 12px;
}

@media (min-width: 600px) {
  html {
    font-size: 100%;
  }
}
