:root {
  --ghost: #C2C8D4;
  --dianne: #1D4455;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: var(--ghost);
  color: var(--dianne) !important;
} 

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
