
footer a {
    text-decoration: none;
    color:inherit;
    position: relative;
    margin: 10px 0;
    border-bottom: 1px solid transparent;
}
.social ul {
    margin:0;
    padding:0;
    padding-top:2em;
}
.social ul li {
     display: inline;
     padding: 0 1em 0 0;
}
.link:hover {
    border-bottom: solid #fff 1px;
}
footer p {
    padding-top:2em;
}

img {
    width: 30px;
    cursor: pointer;
    margin: auto;
}

/* @media only screen and (min-width: 700px) {
    .footer__content {
        width: 80%;
        margin: 0 auto;
    }
} */
